<div id="comment-form">     {% load comments %}
    {% get_comment_count for item as comment_count %}
    <p>{{ comment_count }} comments have been posted.</p>

    {% get_comment_list for item as comment_list %}
    {% for comment in comment_list %}
        <p><b><i>Posted by: {{ comment.user_name }} on {{ comment.submit_date }} </i></b></p>
        <p>Comment: {{ comment.comment }}</p>
    {% endfor %}
    <div id="result">
    </div>
    <hr noshade style="size: '2'; width: 50%;  float: left;">
    <br>

    <p>Do you want to leave a comment for this book? Welcome!</p>

    {% get_comment_form for item as form %}
    <table width="50%">
        {{ form.non_field_errors }}
        {{ form }}
        <tr>
            <td colspan="2">
                <p id="sendwrapper"><input type="submit" id="sendbutton" name="submit" value="Post"></p>
            </td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{% url detail id %}"/>
</div>