<form id="form-add" action="{% url 'main' %}" method="post"> {% csrf_token %}

        {% for item in items %}
            <p> {{ forloop.counter }}. <a href="books/{{ forloop.counter }}">"{{ item.name }}"</a></p>
        {% endfor %}
    <div id="result">
    </div>
<div id="add_book">

    <hr noshade style="size: '2'; width: 50%;  float: left;">
    <br>

    <p>Do you want to add a new book? Welcome!</p>

    <table width="50%">
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
            {% if form.errors %}
            <!-- Error messaging -->
            <div id="errors">
                <div class="inner">
                    <p>There were some errors in the information you entered. Please correct the following:</p>
                    {{ form.non_field_errors }}
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /Error messaging -->
        {% endif %}
        {{ form.as_p }}
        <tr>
            <td colspan="2">
                <p id="sendwrapper_book"><input type="submit" id="sendbutton" name="submit" value="Add"></p>
{#                <input type="hidden" name="next" value=""/>#}
            </td>
        </tr>
    </table>
</form>
</div>

