 <div id="add_book">

    <hr noshade style="size: '2'; width: 50%;  float: left;">
    <br>

    <p>Do you want to add a new book? Welcome!</p>
<form id="form-add" action="" method="post"> {% csrf_token %}
    <table width="50%">
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        {{ form.as_p }}
        <tr>
            <td colspan="2">
                <p id="sendwrapper"><input type="submit" id="sendbutton" name="submit" value="Add"></p>
                <input type="hidden" name="next" value="{% url main %}"/>
            </td>
        </tr>
    </table>
</form>
</div>

