{% extends "base.html" %}
{% block title %}Detail page{% endblock %}
{% block extrahead %}
    {% load comments %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" charset="utf-8">
        /*<![CDATA[*/
        $(function () {
            var form = $("#list-comments");
            form.submit(function (e) {
                $("#sendbutton").attr('disabled', true);
                $("#result").html(form.serializeArray());
                $("#sendwrapper").prepend('<span>Sending message, please wait... </span>');
                $("#comment-form").load(
                        form.attr('action') + ' #comment-form',
                        form.serializeArray(),
                        function (responseText, responseStatus) {
                            $("#sendbutton").attr('disabled', false)
                        }
                );
                e.preventDefault();
                return false;
            });
        });
        /*]]>*/
    </script>
{% endblock extrahead %}

{% block content %}

    <form id="item">
        <h3>More about "{{ item.name }}":</h3>

        <p><b>Title:</b> {{ item.name }}</p>

        <p><b>Author:</b> {{ item.author }}</p>

        <p><b> Description:</b> {{ item.description }}</p>
    </form>
    <form id="list-comments" action="{% comment_form_target %}" method="post">>
        <hr noshade style="size: '2'; width: 50%;  float: left;">
        <br>
        {% csrf_token %}
        {% include "add.html" %}
    </form>
{% endblock content %}