{% extends "base.html" %}
{% block title %}ELibrary - Django{% endblock %}
{% block extrahead %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" charset="utf-8">
        /*<![CDATA[*/
        $(function () {
            var form = $("#booklist");
            form.submit(function (e) {
                $("#sendbutton").attr('disabled', true);
                $("#form-add").attr('disabled', true);
                $("#result").html(form.serializeArray());
                $("#sendwrapper_book").prepend('<span>Sending, please wait... </span>');
                $("#booklist").load(
                        form.attr('action') + ' #form-add',
                        form.serializeArray(),
                        function (responseText, responseStatus) {
                            $("#sendbutton").attr('disabled', false);
                            $("#form-add").attr('disabled', false);

                        }
                );
                e.preventDefault();
                return false;
            });
        });
        /*]]>*/
    </script>
{% endblock extrahead %}
{% block content %}
      <h3>List of books:</h3>
  <form id="booklist" action="{% url 'main' %}" method="post">

    {% include "add_book.html" %}

   </form>
{% endblock content %}